
<!-- Add Quiz Modal -->
<div  [style]="{width: '450px', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"  class="modal fade " id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="addActivityModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addActivityModalLabel">Add Activity</h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm"  (ngSubmit)="onUpload()" novalidate enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Activity Title</label>
                        <input type="text" pInputText ngModel name="title" class="form-control" id="title" placeholder="Title" required >

                        <!-- <small class="ng-dirty ng-invalid">Name is required.</small>-->
                    </div>
                    <div class="form-group">
                        <label for="content"> Activity Content</label>
                        <textarea  pInputTextarea ngModel name="content" class="form-control" id="content" placeholder="Description" required rows="3" cols="20"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="type">Activity Type</label>
                        <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Type" required>
                    </div>
                    <div class="form-group">
                        <label for="media"> Activity Media</label>

                    </div>


                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label class="btn btn-primary" style="background-color: #5659c0"  >
                                                <i class="fa fa-image"></i> Add File <input name="media" id="media"  aria-label="Browse Files" type="file" title="Select File" id="image" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif" hidden="hidden" >
                                            </label>

                                       </div>

                                    </div>
                                    <div class="form-group">
                                        <div *ngIf="image">
                                            <div>
                                                <img class="image-thumbnail" style="max-width: 100px" [src]="imageMin">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-between my-3">


                                        <button class="btn btn-outline-danger" (click)="reset()"><i class="fas fa-sync-alt"></i>
                                            Reset</button>
                                    </div>








                    <div class="modal-footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" data-bs-dismiss="modal" ></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="addForm.invalid" type="submit" data-bs-dismiss="modal"></button>
                    </div>
                    <!--<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit"[disabled]="addForm.invalid"><i class="fas fa-upload" hidden="hidden"></i>
                    </button>-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- DELETE Quiz Modal -->
<div  [style]="{width: '450px', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"  class="modal fade " id="deleteActivityModal" tabindex="-1" role="dialog" aria-labelledby="deleteActivityModal" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteActivityModalLabel">Confirm</h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="deleteActivity()">
                    <div class="form-group">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span >Are you sure you want to delete selected Activity ?</span>
                    </div>


                    <div class="modal-footer">
                        <button pButton pRipple icon="pi pi-times" type="button" class="p-button-text" label="No"  data-bs-dismiss="modal"></button>
                        <button  pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" type="submit" (click)="deleteActivity()"  data-bs-dismiss="modal" ></button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div  [style]="{width: '450px', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"  class="modal fade " id="updateActivityModal" tabindex="-1" role="dialog" aria-labelledby="updateActivityModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateActivityModalLabel">Update Activity </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm" (ngSubmit)="saveActivity()">
                    <input type="hidden" [(ngModel)]="selectedActivity.idActivity" name="idActivity">

                    <div class="form-group">
                        <label for="titleU">Activity Title</label>
                        <input type="text" [(ngModel)]="selectedActivity.title" name="title" class="form-control" id="titleU" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="contentU"> Activity Content</label>
                        <input type="text" [(ngModel)]="selectedActivity.content" name="content" class="form-control" id="contentU" placeholder="Content" required>
                    </div>

                    <div class="form-group">
                        <label for="typeU">Activity Type</label>
                        <input type="text" [(ngModel)]="selectedActivity.type" name="type" class="form-control" id="typeU" placeholder="Type" required>
                    </div>

                    <div class="modal-footer">

                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" data-bs-dismiss="modal" ></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="updateForm.invalid" type="submit" data-bs-dismiss="modal" ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" data-bs-toggle="modal" style="border-radius: 10px;" data-bs-target="#addActivityModal" ></button>

                    </div>
                </ng-template>


            </p-toolbar>

            <!--<p-table #dt responsiveLayout="scroll" [value]="quizzes" selectionMode="single" dataKey="idQuiz">-->
            <!--<p-table #dt [value]="quizzes" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title','description','type']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectQuiz(quiz)" selectionMode="multiple" [rowHover]="true" dataKey="id">-->
            <p-table #dt  [value]="searchTerm.trim() ? filteredActivities : activities" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title','content','type']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="idActivity">

                <ng-template pTemplate="caption">
                    <div class="flex flex-row md:justify-between items-center">
                        <h5 class="m-0">Manage Activities</h5>
                        <span class="block ml-auto md:ml-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search..." class="w-full sm:w-auto"  [(ngModel)]="searchTerm" (ngModelChange)="filterActivity()"/>
    </span>
                    </div>



                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th >Media </th>
                        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="content">Content <p-sortIcon field="content"></p-sortIcon></th>

                        <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-activity>
                    <tr (click)="selectActivity(activity)">

                        <td>
                            <p-tableCheckbox [value]="activity"></p-tableCheckbox>
                        </td>
                        <td>
                            <!--<a href=""><img width="70" class="img-fluid rounded-circle w-60"class=" mt-0 mx-auto mb-5 block shadow-2 rounded-circle" src="https://resize.elle.fr/original/var/plain_site/storage/images/societe/news/sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-oms-4028858/96897868-1-fre-FR/Sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-OMS.jpg" alt="" ></a>-->
                            <!--<img src="{{activity.imageUrl}}" class="card-img-top" alt="Image 1" width="70" class=" mt-0 mx-auto mb-5 block shadow-2 ">-->

                            <div *ngIf="isImage(activity.imageUrl)">
                                <img src="{{ activity.imageUrl }}" class="card-img-top" alt="Image 1" width="180" class=" mt-0 mx-auto mb-5 block shadow-2" >
                            </div>
                            <div  *ngIf="!isImage(activity.imageUrl)" >
                                <video controls class="card-img-top" width="180" class=" mt-0 mx-auto mb-5 block " >
                                    <source src="{{ activity.imageUrl }}" type="video/mp4" >
                                    Your browser does not support the video tag.
                                </video>
                            </div>


                        </td>
                        <td>{{activity.title}}</td>
                        <td>{{activity.content}}</td>

                        <td>{{activity.type}}</td>
                        <td>

                            <div class="flex">
                               <!-- <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" data-bs-toggle="modal" data-bs-target="#updateActivityModal" style="border-radius: 20px;"   ></button>-->
                                <button pButton pRipple icon="pi pi-trash" data-bs-toggle="modal" data-bs-target="#deleteActivityModal" style="border-radius: 20px; margin-right: 10px;"></button>


                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>




    </div>
</div>

