<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="FeedBack" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                    </div>
                </ng-template>
            </p-toolbar>


            <p-table [value]="feedbacks">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Your FeedBacks</h5>
                    </div>
                </ng-template>
               
                  
    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Event Name</th>
                        <th>Feed Back Status</th>
                        <th>Feed Back Content</th>
                       
                        <th></th>
                    </tr>
                </ng-template>
             
                <ng-template pTemplate="body" let-feedback>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="feedback"></p-tableCheckbox>
                        </td>
                        <td>{{feedback.evenement.eventName}}</td>
                        <td>{{feedback.status}}</td>
                        <td>{{feedback.content}}</td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [disabled]="feedback.status === 'Processed'"  (click)="editFeedBack(feedback,feedback.idFeedback)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDelete(feedback.idFeedback)"></button>  
                                  </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



        <p-dialog [(visible)]="feedbackDialog" [style]="{width: '450px'}" header="FeedBack Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                   
                    <label for="name">Content of FeedBack</label>
                    <input type="text" pInputText id="name" [(ngModel)]="feedback.content" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !feedback.content}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !feedback.content">Update your feedback please.</small>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button *ngIf="feedback.idFeedback" pButton pRipple label="Update FeedBack" icon="pi pi-check" class="p-button-text" (click)="updateFeedBack(feedback)"></button>
            </ng-template>
            
        </p-dialog>


        <p-dialog [(visible)]="deleteRDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete this feedback?</span>
            </div>
            <ng-template pTemplate="footer">

                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteFeedBack(selectedFeedbackId)"></button>
            </ng-template>
        </p-dialog> 
    </div>
  </div>
  
  