

<br>
<br>
<br>
<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1>My Feedbacks</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p-carousel [value]="feedbacks" [numVisible]="2" [numScroll]="1">
          <ng-template let-feedback pTemplate="item">
            <div class="p-col-12 p-md-4">
              <div class="card">
                <div class="card-header">
                  <h4>{{ feedback.evenement.eventName }}</h4>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Content</h5>
                  <p class="card-text">{{ feedback.content }}</p>
                  <h5 class="card-title">Rating</h5>
                  <p-rating [ngModel]="feedback.rating" [readonly]="true" [cancel]="false"></p-rating>
                  <div class="flex">
                    <button pButton pRipple label="Edit" class="p-button-text p-button-rounded p-button-info mr-2" (click)="editFeedback(feedback, feedback.idFeedback)"></button>
                    <button pButton pRipple label="Delete" class="p-button-text p-button-rounded p-button-danger" (click)="confirmDelete(feedback.idFeedback)"></button>
                  </div>
                </div>
              </div>

              <p-dialog [(visible)]="feedbackDialog" [style]="{ width: '450px' }" header="Feedback Details" [modal]="true" class="p-fluid">
                <div class="field">
                  <label for="content">Content</label>
                  <textarea  [(ngModel)]="feedback.content" 
                  id="content" pInputTextarea required rows="3" cols="20">
                    {{ feedback.content }}</textarea>
                </div>
                <div class="field">
                  <label for="rating">Rating</label>
                  <p-rating [(ngModel)]="feedback.rating" name="rating"></p-rating>
                  <p>{{ feedback.rating }}</p>
                </div>
                
                <ng-template pTemplate="footer">
                  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                  <button *ngIf="feedback.idFeedback" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="updateFeedback(feedback)"></button>
                </ng-template>
              </p-dialog> 
              <p-dialog [(visible)]="deleteRDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
                <div class="flex align-items-center justify-content-center">
                  <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                  <span>Are you sure you want to delete this feedback?</span>
                </div>
                <ng-template pTemplate="footer">
                  <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRDialog = false"></button>
                  <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteFeedback(selectedFeedbackId)"></button>
                </ng-template>
              </p-dialog>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <p-toast></p-toast>
  </div>
  