<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Total users compared to users with rewards:</h3>
            <div id="test">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="col-6">
            <h3>Users with rewards compared to users with no rewards:</h3>
            <div id="test2">
                <canvas id="myChart1" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
