<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Add new Discount" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>


            </p-toolbar>

            <p-table [value]="discounts">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Discounts</h5>




                    </div>
                </ng-template>



                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Discount Value</th>
                        <th>End Discount</th>
                        <th>Created discount</th>
                        <th>Reward Name</th>


                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-discount>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="discount"></p-tableCheckbox>
                        </td>
                        <td>{{ discount.discountValue }}</td>
                        <td>{{ discount.endDiscount }}</td>
                        <td>{{ discount.createdDiscount}}</td>
                        <td>{{ discount.reward ? discount.reward.name : '-' }}</td>




                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDelete(discount.idDiscount)"></button>                        </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="discountDialog" [style]="{width: '450px'}" header="Disocunt Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">



                <div class="field">
                    <label for="value">Value</label>
                    <input type="text" pInputText id="value" [(ngModel)]="discount.discountValue" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !discount.discountValue}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !discount.discountValue">Value is required.</small>
                </div>

                <div class="field">
                    <label for="reward">Select Reward</label>
                    <p-dropdown id="reward" [options]="rewards" [(ngModel)]="selectedReward" optionLabel="name" placeholder="Select Reward" (onChange)="onRewardSelect()"></p-dropdown>
                </div>




                <div class="field">

                    <label for="datecreation">Created Date</label>
                    <p-calendar id="datecreation" [(ngModel)]="discount.createdDiscount" [showIcon]="true" [showTime]="true" [showSeconds]="true" [readonlyInput]="true"  ></p-calendar>
                </div>

                <div class="field">
                    <label for="enddate">End Date</label>
                    <p-calendar id="enddate" [(ngModel)]="discount.endDiscount" [showIcon]="true" [showTime]="true" [showSeconds]="true" [readonlyInput]="true"  ></p-calendar>
                </div>













            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <!-- Call calculateNewCost method passing the discount object when adding a new discount -->
                <button *ngIf="!discount.idDiscount" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-text" (click)="calculateNewCost(discount); addDiscount()"></button>
            </ng-template>


        </p-dialog>

        <p-dialog [(visible)]="deleteDiscountDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete this forum?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDiscountDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="deleteDiscount(selectedDiscountId)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

