@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poetsen+One&family=Sedan+SC&display=swap');
/* Apply the font to your text */
.card-title, .card-text {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.grid {
    display: flex;
    justify-content: space-between; /* Distribute columns evenly */
    align-items: stretch; /* Stretch columns to equal height */
}

.col-md-3,
.col-md-6 {
    flex: 1; /* Each column takes an equal amount of space */
    margin: 0 5px; /* Add margin for spacing between columns */
    display: flex; /* Use flexbox for nested items */
    flex-direction: column; /* Arrange nested items vertically */
    justify-content: center; /* Center content vertically */

}

.card {
    flex: 1; /* Each card takes the same amount of space */
    justify-content : center;
}
