 
<div class="grid p-fluid">

    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Bar Chart</h5>
            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>

    </div>
    <div class="col-12 lg:col-6">
        <div class="card">
     

        <div class="pie-chart-container">
            <h3>Feedback Statistics</h3>
            <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
          </div>
          

    </div>
</div>
 

  