<div class="background-image">
    <div class="form-container">
        <div class="p-fluid p-grid p-justify-center">
            <div class="p-col-8">
                <div class="card">
                    <h1>Reset Password</h1>
                    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
                        <div class="p-field">
                            <div class="input-with-icon">
                                <i class="pi pi-lock"></i>
                                <input id="newPassword" type="password" [(ngModel)]="password" name="newPassword" placeholder="New Password" required #newPassword="ngModel">
                            </div>
                            <div *ngIf="resetForm.submitted && newPassword.invalid && !password" class="error-message">{{ newPasswordRequiredMessage }}</div>
                        </div>
                        <div *ngIf="resetErrorMessage" class="error-message">{{ resetErrorMessage }}</div>

                        <!-- Display success or error message -->
                        <div *ngIf="Message" class="message">{{ Message }}</div>

                        <div class="button-container">
                            <button type="submit" class="login-button" style="width: 100%;">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
