

<br>
<br>
<br>
<br>
<br>
<div id="groups" class="container">
    <div class="groups-grid">
        <div class="columns is-multiline">
       <div class="column is-3" *ngFor="let event of eventsWithRatings">
                <article class="group-box" >

                   
                    <div class="box-info-hover"></div>  
                    <div class="box-img has-background-image" [style.background-image]="'url(' + (event.image ? 'data:image/png;base64,' + event.image : 'https://via.placeholder.com/940x650') + ')'" >
                        <img [src]="event.image ? 'data:image/png;base64,' + event.image : ''" alt="Event Image" width="150" class="mt-2">
                    </div>
                    <a>
                        <div class="box-img--hover has-background-image" [routerLink]="['/main/event-details', event.idEvent]" [style.background-image]="'url(' + (event.image ? 'data:image/png;base64,' + event.image : 'https://via.placeholder.com/940x650') + ')'"></div>
                    </a>
                    
                    <div class="box-info">
                        <span class="box-category">{{event.eventName}}</span>
                        <span class="box-title">{{event.eventType }}</span>
                        <span class="box-title"> {{ event.datetime | date }}</span>
                       
                        <p-rating [ngModel]="event.averageRating" [readonly]="true" [cancel]="false"></p-rating>

                   <!-- <span class="box-category" style="text-transform: lowercase; font-family: Arial, sans-serif;">{{event.description}}</span>-->    
                     <span class="box-members">
                        <button [disabled]="event.status == 'Finished'" pButton pRipple label="Book" (click)="bookEvent(event.idEvent)" [routerLink]="['/main/listreservationfront']"></button>
                     </span>
                    </div>
                
                </article>
            </div>
        </div>



    </div>
</div>
<p-toast></p-toast>
