<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Quiz Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="btn btn-primary tooltips"  data-bs-toggle="modal" data-bs-target="#addQuizModal" (click)="onOpenModal(null,'add')">Add Quiz <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search"  #key="ngModel" ngModel
                   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row">

        <div *ngFor="let quiz of quizzes" (click)="selectQuiz(quiz)" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://resize.elle.fr/original/var/plain_site/storage/images/societe/news/sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-oms-4028858/96897868-1-fre-FR/Sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-OMS.jpg" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>

                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{quiz.title}}</h5>


                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Description : <a href="#">{{quiz.description}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Type: {{quiz.type}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(quiz,'update')" data-bs-toggle="modal" data-bs-target="#updateQuizModal" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(quiz,'delete')" data-bs-toggle="modal" data-bs-target="#deleteQuizModal" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        <a class="btn btn-primary tooltips"  [routerLink]="['/question-quiz',quiz.idQuiz]">Questions <span class="sr-only">(current)</span></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>-->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->

<!-- Add Quiz Modal -->
<div  [style]="{width: '450px', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"  class="modal fade " id="addQuizModal" tabindex="-1" role="dialog" aria-labelledby="addQuizModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuizModalLabel">Add Quiz</h5>

                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="saveQuiz()">
                    <div class="form-group">
                        <label for="title">Quiz Title</label>
                        <input type="text" pInputText ngModel name="title" class="form-control" id="title" placeholder="Title" required >

                       <!-- <small class="ng-dirty ng-invalid">Name is required.</small>-->
                    </div>
                    <div class="form-group">
                        <label for="description"> Quiz Description</label>
                        <textarea  pInputTextarea ngModel name="description" class="form-control" id="description" placeholder="Description" required rows="3" cols="20"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="type">Quiz Type</label>
                        <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Type" required>
                    </div>

                    <div class="modal-footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" data-bs-dismiss="modal" ></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="addForm.invalid" type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE Quiz Modal -->
<div  [style]="{width: '450px', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"  class="modal fade " id="deleteQuizModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuizModal" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteQuizModalLabel">Delete Quiz</h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="deleteQuiz()">
                    <div class="form-group">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span >Are you sure you want to delete selected Quiz ?</span>
                    </div>


                    <div class="modal-footer">
                        <button pButton pRipple icon="pi pi-times" type="button" class="p-button-text" label="No"  data-bs-dismiss="modal"></button>
                        <button  pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" type="submit" (click)="deleteQuiz()"  ></button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Quiz Modal -->
<div  [style]="{width: '450px', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"  class="modal fade " id="updateQuizModal" tabindex="-1" role="dialog" aria-labelledby="updateQuizModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateQuizModalLabel">Update Quiz</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm" (ngSubmit)="saveQuiz()">
                    <input type="hidden" [(ngModel)]="selectedQuiz.idQuiz" name="idQuiz">

                    <div class="form-group">
                        <label for="titleU">Quiz Title</label>
                        <input type="text" [(ngModel)]="selectedQuiz.title" name="title" class="form-control" id="titleU" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="descriptionU"> Quiz Description</label>
                        <input type="text" [(ngModel)]="selectedQuiz.description" name="description" class="form-control" id="descriptionU" placeholder="Description" required>
                    </div>
                    <div class="form-group">
                        <label for="typeU">Quiz Type</label>
                        <input type="text" [(ngModel)]="selectedQuiz.type" name="type" class="form-control" id="typeU" placeholder="Type" required>
                    </div>

                    <div class="modal-footer">

                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" data-bs-dismiss="modal" ></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="updateForm.invalid" type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" data-bs-toggle="modal" style="border-radius: 10px;" data-bs-target="#addQuizModal" (click)="onOpenModal(null,'add')"></button>

                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" style="border-radius: 10px;" ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <!--<p-table #dt responsiveLayout="scroll" [value]="quizzes" selectionMode="single" dataKey="idQuiz">-->
            <!--<p-table #dt [value]="quizzes" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title','description','type']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectQuiz(quiz)" selectionMode="multiple" [rowHover]="true" dataKey="id">-->
            <p-table #dt [value]="quizzes" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title','description','type']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="idQuiz">

                <ng-template pTemplate="caption">
                    <div class="flex flex-row md:justify-between items-center">
                        <h5 class="m-0">Manage Quizes</h5>
                        <span class="block ml-auto md:ml-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search..." class="w-full sm:w-auto" />
    </span>
                    </div>



                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th>Image</th>
                    <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-quiz>
                    <tr (click)="selectQuiz(quiz)">

                        <td>
                            <p-tableCheckbox [value]="quiz"></p-tableCheckbox>
                        </td>
                        <td>
                            <a href=""><img width="70" class="img-fluid rounded-circle w-60"class=" mt-0 mx-auto mb-5 block shadow-2 rounded-circle" src="https://resize.elle.fr/original/var/plain_site/storage/images/societe/news/sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-oms-4028858/96897868-1-fre-FR/Sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-OMS.jpg" alt="" ></a>
                        </td>
                        <td>{{quiz.title}}</td>
                        <td>{{quiz.description}}</td>
                        <td>{{quiz.type}}</td>
                        <td>
                            <!--<div class="btn-group btn-group-sm">
                                <a (click)="onOpenModal(quiz,'update')" data-bs-toggle="modal" data-bs-target="#updateQuizModal" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a (click)="onOpenModal(quiz,'delete')" data-bs-toggle="modal" data-bs-target="#deleteQuizModal" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                <a class="btn btn-primary tooltips" [routerLink]="['/question-quiz',quiz.idQuiz]">Questions <span class="sr-only">(current)</span></a>
                            </div>-->
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" data-bs-toggle="modal" data-bs-target="#updateQuizModal" style="border-radius: 20px;"   ></button>
                                <button pButton pRipple icon="pi pi-trash" data-bs-toggle="modal" data-bs-target="#deleteQuizModal" style="border-radius: 20px; margin-right: 10px;"></button>
                                <button pButton pRipple [routerLink]="['/question-quiz',quiz.idQuiz]"  class="p-button-rounded p-button-success mr-2" style="border: orange; border-radius: 20px ; background-color: #f4a261 ;" >Questions</button>
                                <button pButton pRipple [routerLink]="['/activities-back',quiz.idQuiz]"  class="p-button-rounded p-button-success mr-2" style="border: orange; border-radius: 20px ; background-color: #2a9d8f ;" >Activities</button>
                                <button pButton pRipple type="button" (click)="publishQuiz(quiz)" icon="pi pi-upload" class="p-button-rounded p-button-secondary" style="border-radius: 20px;" pTooltip="click to publish"
                                        *ngIf="!quiz.publication">

                                </button>

                                <button pButton pRipple type="button" (click)="publishQuiz(quiz)" icon="pi pi-upload" class="p-button-rounded p-button-secondary p-button-outlined" style="border-radius: 20px;" pTooltip="click to unpublish"
                                        *ngIf="quiz.publication">

                                </button>


                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <p-dialog  [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' "  width="150" class="mt-0 mx-auto mb-5 block shadow-2" >
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name"  required autofocus />
                    <small class="ng-dirty ng-invalid">Name is required.</small>
                </div>

                <div class="field">
                    <label >Inventory Status</label>
                    <p-dropdown  inputId="inventoryStatus" optionValue="label"  placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span  [class]="'product-badge status-' ">hello</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label class="mb-3">Category</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category1" name="category" value="Accessories" ></p-radioButton>
                            <label for="category1">Accessories</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category2" name="category" value="Clothing" ></p-radioButton>
                            <label for="category2">Clothing</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category3" name="category" value="Electronics" ></p-radioButton>
                            <label for="category3">Electronics</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category4" name="category" value="Fitness" ></p-radioButton>
                            <label for="category4">Fitness</label>
                        </div>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price"  mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" ></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" ></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>

        <p-dialog header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span >Are you sure you want to delete <b></b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" ></button>
            </ng-template>
        </p-dialog>

        <p-dialog  header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>















