<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Quiz Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="btn btn-primary tooltips"  data-bs-toggle="modal" data-bs-target="#addQuizModal" (click)="onOpenModal(null,'add')">Add Quiz <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search"  #key="ngModel" ngModel
                   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row">

        <div *ngFor="let quiz of quizzes" (click)="selectQuiz(quiz)" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://resize.elle.fr/original/var/plain_site/storage/images/societe/news/sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-oms-4028858/96897868-1-fre-FR/Sante-mentale-dans-le-monde-la-souffrance-est-enorme-alerte-l-OMS.jpg" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>

                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{quiz.title}}</h5>


                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Description : <a href="#">{{quiz.description}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Type: {{quiz.type}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(quiz,'update')" data-bs-toggle="modal" data-bs-target="#updateQuizModal" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(quiz,'delete')" data-bs-toggle="modal" data-bs-target="#deleteQuizModal" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        <a class="btn btn-primary tooltips"  [routerLink]="['/question-quiz',quiz.idQuiz]">Questions <span class="sr-only">(current)</span></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Quiz Modal -->
<div class="modal fade" id="addQuizModal" tabindex="-1" role="dialog" aria-labelledby="addQuizModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuizModalLabel">Add Quiz</h5>

                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="saveQuiz()">
                    <div class="form-group">
                        <label for="title">Quiz Title</label>
                        <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="description"> Quiz Description</label>
                        <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description" required>
                    </div>
                    <div class="form-group">
                        <label for="type">Quiz Type</label>
                        <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Type" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE Quiz Modal -->
<div class="modal fade" id="deleteQuizModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuizModal" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteQuizModalLabel">Delete Quiz</h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="deleteQuiz()">
                    <div class="form-group">
                       Are you sure to delete this Quiz ?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button  type="submit" (click)="deleteQuiz()" class="btn btn-primary" >yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Quiz Modal -->
<div class="modal fade" id="updateQuizModal" tabindex="-1" role="dialog" aria-labelledby="updateQuizModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateQuizModalLabel">Update Quiz</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm" (ngSubmit)="saveQuiz()">
                    <input type="hidden" [(ngModel)]="selectedQuiz.idQuiz" name="idQuiz">

                    <div class="form-group">
                        <label for="titleU">Quiz Title</label>
                        <input type="text" [(ngModel)]="selectedQuiz.title" name="title" class="form-control" id="titleU" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="descriptionU"> Quiz Description</label>
                        <input type="text" [(ngModel)]="selectedQuiz.description" name="description" class="form-control" id="descriptionU" placeholder="Description" required>
                    </div>
                    <div class="form-group">
                        <label for="typeU">Quiz Type</label>
                        <input type="text" [(ngModel)]="selectedQuiz.type" name="type" class="form-control" id="typeU" placeholder="Type" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>










