<div class="grid p-fluid">
    <!-- Card de l'événement -->
    <div class="col-12 col-md-6" *ngIf="event">
        <div class="card">
            <h5>Event Details</h5>
            <div class="border-round m-2 text-center p-2" style="border: 3px solid var(--surface-d); background-color: #eee6e6; padding: 5px;">
                <div class="my-5">
                    <img [src]="event.image ? 'data:image/png;base64,' + event.image : ''" [alt]="event.eventName" class="shadow-4" width="30%">
                </div>
                <div>
                    <h2>{{ event.eventName }}</h2>
                    <p>{{ event.eventType }}</p>
                    <p>{{ event.description }}</p>
                  
                </div>
            </div>
        </div>
    </div>
    
    <!-- Card des retours -->
    <div class="col-12 col-md-6">
        <div class="card">
            <h5>Feedbacks</h5>
            <p-carousel [value]="feedbacks" [numVisible]="1" [circular]="true" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-feedback pTemplate="item">
                    <div style="text-align: center;">
                        <p>{{ feedback.content }}</p>
                        <div>
                            <span *ngFor="let star of getStarsArray(feedback.rating)">
                                <i class="pi pi-star" style="color: red;"></i>
                            </span>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
