<div *ngIf="archivedReclamations.length > 0; else noReclamations" class="reclamation-list">
    <app-custom-notification #customNotification></app-custom-notification>
    <ul>
        <li *ngFor="let reclamation of archivedReclamations" class="reclamation-item">
            {{ reclamation.title }} - {{ reclamation.description }}
            <button mat-icon-button class="delete-button" (click)="deleteReclamation(reclamation.reclamationId)">
                <mat-icon>delete</mat-icon>
            </button>
        </li>
    </ul>
</div>
<ng-template #noReclamations>
    <p>No archived reclamations found.</p>
</ng-template>
