<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Add new Event" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>


            </p-toolbar>

            <p-table [value]="rewards">



                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Reward Name</th>
                        <th>Reward Desc</th>
                        <th>Cost</th>
                        <th>quantite</th>

                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-reward>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="reward"></p-tableCheckbox>
                        </td>
                        <td>{{ reward.name }}</td>
                        <td>{{ reward.cost }}</td>
                        <td>{{ reward.description }}</td>
                        <td>{{ reward.nbDispo }}</td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editReward(reward,reward.idReward)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDelete(reward.idReward)"></button>                        </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="rewardDialog" [style]="{width: '450px'}" header="Event Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="reward.image"
                     [alt]="reward.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="reward.image">
                <div class="field">
                    <label for="name">Event Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="reward.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !reward.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !reward.name">Name is required.</small>
                </div>





                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="reward.description" required rows="3" cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="name">Location</label>
                    <input type="text" pInputText id="name" [(ngModel)]="reward.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !reward.description}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !reward.description">Location is required.</small>
                </div>


                <div class="formgrid grid">
                    <div class="field col">
                        <!--bel get hedha lezem njibou-->
                        <label for="nbPlacesReservees">Number of reserved places</label>
                        <p-inputNumber id="nbPlacesReservees" [(ngModel)]="reward.cost" ></p-inputNumber>
                    </div>

                    <div class="field col">
                        <label for="nbplacesMax">Maximum number of places</label>
                        <p-inputNumber id="nbplacesMax" [(ngModel)]="reward.nbDispo"></p-inputNumber>
                    </div>



                </div>






            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <!-- Afficher le bouton "Add" lorsque vous ajoutez un nouvel événement -->
                <!---->  <button *ngIf="!reward.idReward" pButton pRipple label="Add" icon="pi pi-plus" class="p-button-text" (click)="addReward()"></button>
                <!-- Afficher le bouton "Update" lorsque vous éditez un événement existant -->
                <button *ngIf="reward.idReward" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="updateEvent()"></button>
            </ng-template>

        </p-dialog>

        <p-dialog [(visible)]="deleteRewardDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete this forum?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRewardDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="deleteReward(selectedRewardId)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

