<div class="background-image">
    <div class="form-container">
        <div class="p-fluid p-grid p-justify-center">
            <div class="p-col-8">
                <div class="card">
                    <h1>Login</h1>
                    <form (ngSubmit)="loginFormSubmit()" #loginForm="ngForm">
                        <div class="p-field">
                            <div class="input-with-icon">
                                <i class="pi pi-envelope"></i>
                                <input id="username" type="text" pInputText [(ngModel)]="loginRequest.email" name="username" placeholder="Email" required>
                            </div>
                            <div *ngIf="loginForm.submitted && loginForm.controls['username'].errors?.required" class="error-message">Email is required</div>
                        </div>
                        <div class="p-field">
                            <div class="input-with-icon">
                                <i class="pi pi-lock"></i>

                                <input id="password" type="password"  [(ngModel)]="loginRequest.password" name="password" placeholder="Password" required>
                            </div>
                            <div *ngIf="loginForm.submitted && loginForm.controls['password'].errors?.required" class="error-message">Password is required</div>
                        </div>

                        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                        <re-captcha (resolved)="checkCaptcha($event)"
                                    name="recaptchaReactive"ngModel siteKey="6LfKcsMpAAAAAA2N4W4gXDyauBzbqCn-HQVL9aFb
">
                        </re-captcha>
                        <div class="button-container">
                            <button type="submit" [disabled]="!captchaResolved"  pButton label="Login"></button>
                            <span class="not-member-text"> <a routerLink="/register" class="login-link">Not a member?</a></span>

                            <span class="not-member-text"> <a routerLink="/forget" class="login-link">Forget your password?</a></span>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
