.custom-notification {
    position: fixed;
    top: 170px; // Adjust based on your header/footer
    left: 800px;
    transform: translateX(-50%);
    background-color: #FB9D37;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; // Ensure it's above other content
}
