


    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="app-overlay"></div>

    <div class="view-wrapper">
        <!-- Container -->
        <div id="groups" class="container">
            <!--Forums-->
            <div class="groups-grid">
                <div class="grid-header">
                    <div class="header-inner">
                        <h2>Forums</h2>
                        <div class="header-actions">
                            <div class="buttons">
                                <a (click)="openNew()" class="button is-solid accent-button raised">Add new forum</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="columns is-multiline">
                    <!--Forum-->
                    <div class="column is-3" *ngFor="let forum of forums" (click)="forum.closed ? openClosedForumDialog() : null">
                                     <article class="group-box">

                                      <div class="box-info-hover">
                                        <div class="like-wrapper"  *ngIf="!forum.closed">
                                            <a href="javascript:void(0);" class="like-button" id="like-button-{{forum.forumId}}" (click)="toggleLike(forum)">
                                              <i class="mdi mdi-heart not-liked bouncy" [class.is-hidden]="forum.isLiked"></i>
                                              <i class="mdi mdi-heart is-liked bouncy" [class.is-hidden]="!forum.isLiked"></i>
                                              <span class="like-overlay"></span>
                                            </a>
                                          </div>

                                        <div class="box-clock-info">
                                            <i *ngIf="!forum.closed" data-feather="message-circle" class="box-clock"></i>
                                            <span class="box-time" [style.color]="forum.closed === true ? 'red' : 'initial'" [style.fontWeight]="forum.closed === true ? 'bold' : 'normal'">
                                                {{ forum.closed === true ? 'Closed' : '11 new' }}
                                            </span>
                                        </div>
                                    </div>


                            <div  class="box-img has-background-image" data-background="https://via.placeholder.com/940x650" data-demo-background="assets/forum1.jpg"></div>
                            <a [routerLink]="['/forumdetail', forum.forumId]" class="box-link">
                                <div class="box-img--hover has-background-image" data-background="https://via.placeholder.com/940x650" data-demo-background="assets/forum1.jpg"></div>
                            </a>

                            <div class="box-info">
                                <span class="box-category">{{forum.topic}}</span>
                                <h3 class="box-title">{{forum.content}}</h3>
                                <span class="box-members">
              <a href="#">{{forum.forumOwner.firstName}} {{forum.forumOwner.lastName}}</a>
              <div class="members-preview">
                <img
                  src="https://via.placeholder.com/150x150"
                  data-demo-src="assets/img/avatars/milly.jpg"
                  data-user-popover="7"
                  alt=""
                />
              </div>
              <div class="clickable-icon" (click)="editForum(forum)">
                <i data-feather="edit" style="cursor: pointer; color: blue;"></i>
              </div>
              <div class="clickable-icon" (click)="confirmDelete(forum.forumId)">
                <i data-feather="trash-2" style="cursor: pointer;color: red;"></i>
              </div>





            </span>
                            </div>
                        </article>
                    </div>
                </div>
                <p-dialog [(visible)]="forumDialog" [style]="{width: '450px'}" header="Forum Details" modal="true" class="p-fluid">
                  <ng-template pTemplate="content">
                      <div class="field">
                          <label for="topic">Topic</label>
                          <input type="text" pInputText id="topic" [(ngModel)]="forum.topic"/>
                          <small class="ng-dirty ng-invalid" *ngIf="submitted && !forum.topic">Topic is required.</small>
                      </div>
                      <div class="field">
                          <label for="description">Content</label>
                          <textarea id="description" pInputTextarea [(ngModel)]="forum.content"></textarea>
                      </div>
                      <div *ngIf="showDropdown" class="field" style="margin-bottom: 80px;">
                        <label for="status">Forum Status</label>
                        <p-dropdown [(ngModel)]="forum.closed" inputId="forumStatus" optionValue="value" [options]="statuses" placeholder="Select">
                          <ng-template pTemplate="selectedItem" let-selectedItem>
                            <span>{{ selectedItem.label}}</span>
                          </ng-template>
                          <ng-template let-option pTemplate="item">
                            <span>{{ option.label }}</span>
                          </ng-template>
                        </p-dropdown>
                      </div>



                  </ng-template>

                  <ng-template pTemplate="footer">
                      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveForum()"></button>
                  </ng-template>
              </p-dialog>
              <p-dialog [(visible)]="deleteForumDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Are you sure you want to delete this forum?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteForumDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteForum()"></button>
                </ng-template>
            </p-dialog>
                <!-- Load more groups -->
                <div class="load-more-wrap narrow-top has-text-centered">
                    <a href="#" class="load-more-button">Load More</a>
                </div>
            </div>
        </div>

    </div>

    <div id="end-tour-modal" class="modal end-tour-modal is-xsmall has-light-bg">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-heading">
                    <h3>test</h3>
                    <!-- Close X button -->
                    <div class="close-wrap">
                        <span class="close-modal">
            <i data-feather="x"></i>
          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
