/* Add this CSS to your styles.css or component-specific CSS file */
.webcam-container {
    position: relative;
    width: 100%;
    height: auto;
}
/* Add this CSS to flip the video horizontally */
.webcam-container video {
    transform: scaleX(-1);
}


.overlay-box {
    position: absolute;
    top: 120px; /* Adjust the top position as needed */
    left: 140px; /* Adjust the left position as needed */
    width: 450px; /* Adjust the width of the box */
    height: 300px; /* Adjust the height of the box */
    border: 2px solid red; /* Customize border color and thickness */
    pointer-events: none; /* Ensure the box doesn't interfere with clicking */
}


.captured-image-container {
    overflow: hidden; /* Hide the overflow outside the box */
    width: 100%;
    height: auto;
}
