<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="flex mb-4">
                        <input type="text" [(ngModel)]="filterText" placeholder="Search by User Identifiant" class="form-control" />
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table [value]="reservations | filter: filterText">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Reservation</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Event Name</th>
                        <th>Date</th>
                        <th>User First Name</th>
                        <th>User Last Name</th>
                        <th>Identifiant</th>
                        <th>Actions</th> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reservation>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="reservation"></p-tableCheckbox>
                        </td>
                        <td>{{ reservation.evenementR.eventName }}</td>
                        <td>{{ reservation.evenementR.datetime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{ reservation.user.lastName }}</td>
                        <td>{{ reservation.user.firstName }}</td>
                        <td>{{ reservation.user.identifiant }}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDelete(reservation.idR)"></button>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <!-- Bouton pour affecter les jetons -->
                                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success"
                                    (click)="assignTokens(reservation.evenementR.idEvent, reservation.user.id_user)">
                                    Assign Tokens
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteRDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete this reservation?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteReservation(selectedRId)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<p-toast></p-toast>
